<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag      ---  ------->

<div class="container">
	<div class="col-md-5">
		<div class="form-area">
			<form role="form" method="post" enctype="multipart/form-data">
				<br style="clear:both">

				<div class="alert alert-success">
					<%= success %>
				</div>

				<h3 style="margin-bottom: 25px; text-align: center;">Create your account</h3>
				<div class="form-group">
					<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
				</div>
				<div class="form-group">
					<input type="file" name="avatar" class="form-control" placeholder="upload profile pic" />
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
				</div>
				<div class="form-group">
					<input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
				</div>

				<div class="form-group">
					<input type="text" name="username" required class="form-control" placeholder="username">
				</div>

				<div class="form-group">
					<input type="password" name="password" required class="form-control" placeholder="password">
				</div>

				<button type="submit" id="submit" class="btn btn-primary pull-right">Create new account</button>
			</form>
		</div>
	</div>
</div>